footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
footer .footer-container-l {
  display: flex;
  width: 50%;
  align-items: center;
}
footer .footer-container-l .footer-container-l_left {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 20%;
  margin: 0 0 0 20px;
}
footer .footer-container-l .footer-container-l_left p {
  font-size: 0.8rem;
  color: white;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
  margin: 0 0 5px 0;
  user-select: none;
}
footer .footer-container-l .footer-container-l_left ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: fit-content;
}
footer .footer-container-l .footer-container-l_left ul li {
  display: flex;
}
footer .footer-container-l .footer-container-l_left ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
  line-height: normal;
}
footer .footer-container-l .footer-container-l_left ul li a:hover {
  color: white;
}
footer .footer-container-l .footer-container-l_left ul li p {
  text-decoration: none;
  padding: 0 2px 0 2px;
}
footer .footer-container-l .footer-container-l_mid {
  display: none;
}
footer .footer-container-l .footer-container-l_right {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0;
}
footer .footer-container-l .footer-container-l_right .footer-container-l_right_title {
  font-size: 0.8rem;
  color: white;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
  margin: 0 0 5px 0;
  user-select: none;
}
footer .footer-container-l .footer-container-l_right p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
footer .footer-container-r {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: flex-end;
}
footer .footer-container-r p {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 5px 5px 0;
  font-size: 0.7rem;
  user-select: none;
}

@media screen and (max-width: 1280px) {
  footer {
    position: absolute;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    bottom: auto;
  }
  footer .footer-container-l {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
  }
  footer .footer-container-l .footer-container-l_left {
    width: 33%;
    margin: 0 0 0 20px;
    justify-content: center;
  }
  footer .footer-container-l .footer-container-l_left ul {
    align-items: start;
    margin: 0;
  }
  footer .footer-container-l .footer-container-l_left ul li {
    width: fit-content;
  }
  footer .footer-container-l .footer-container-l_mid {
    display: flex;
    width: 33%;
    justify-content: center;
  }
  footer .footer-container-l .footer-container-l_mid .footer-container-l_mid_socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
  }
  footer .footer-container-l .footer-container-l_mid .footer-container-l_mid_socials i {
    color: rgba(255, 255, 255, 0.7);
  }
  footer .footer-container-l .footer-container-l_mid .footer-container-l_mid_socials i:hover {
    color: white;
  }
  footer .footer-container-l .footer-container-l_right {
    width: 33%;
    margin: 0 20px 0 0;
    justify-content: center;
    align-items: end;
  }
  footer .footer-container-r {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
  }
  footer .footer-container-r p {
    padding: 0 10px 0 0;
  }
}
@media screen and (max-width: 768px) {
  footer {
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
  }
  footer .footer-container-l {
    flex-direction: column;
    padding-top: 10px;
  }
  footer .footer-container-l .footer-container-l_left {
    width: 100%;
    margin: 0 0 0 0;
    justify-content: center;
    align-items: center;
  }
  footer .footer-container-l .footer-container-l_left ul {
    align-items: center;
  }
  footer .footer-container-l .footer-container-l_mid {
    width: 100%;
  }
  footer .footer-container-l .footer-container-l_mid .footer-container-l_mid_socials {
    margin: 20px 10px 0 10px;
  }
  footer .footer-container-l .footer-container-l_right {
    width: 100%;
    margin: 20px 0 0 0;
    padding-bottom: 20px;
    align-items: center;
  }
  footer .footer-container-r {
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  footer .footer-container-r p {
    padding: 5px 0 5px 0;
    margin: 0;
  }
}

/*# sourceMappingURL=footer.css.map */
