.reservations-container {
  display: flex;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 100%);
}
.reservations-container .section-container-reservations {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  padding-bottom: 100px;
}
.reservations-container .section-container-reservations .section-container-reservations_inner {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: fit-content;
  margin: 40px 0 0 0;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container-reservations-banner {
  width: 97%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
  object-fit: cover;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container-reservations-banner .bannera {
  width: 100%;
  height: auto;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container-reservations-banner .bannerb {
  display: none;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  color: rgba(255, 255, 255, 0.7);
  margin: 10px 0 0 0;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_top {
  width: 90%;
  height: 40%;
  font-size: 0.9rem;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_top h6 {
  width: fit-content;
  padding-bottom: 5px;
  margin: 0;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_top p {
  height: fit-content;
  margin: 0;
  padding: 3px 0 3px 0;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_top .section-container_inner_top_main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-color: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  margin-bottom: 5px;
  padding-bottom: 3px;
  border-width: 1px;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_top .section-container_inner_top_main p {
  margin: 0;
  padding: 0;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom {
  width: 90%;
  height: 40%;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom p {
  padding: 0;
  margin: 5px 0 2px 0;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form input {
  background-color: rgba(56, 56, 56, 0.5);
  border-style: none;
  outline: none;
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 0.7);
  padding: 3px 0 3px 5px;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form input:focus {
  border-color: rgba(255, 255, 255, 0.3);
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top {
  display: flex;
  height: 25%;
  align-items: center;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top .form-container_top_left {
  width: 50%;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top .form-container_top_left input {
  width: 90%;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top .form-container_top_right {
  width: 50%;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top .form-container_top_right input {
  width: 100%;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top .form-container_top_right select {
  width: 100%;
  height: 50%;
  border-style: none;
  padding: 5px;
  background-color: rgba(56, 56, 56, 0.5);
  color: rgba(255, 255, 255, 0.7);
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top .form-container_top_right select option {
  width: 50%;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_middle {
  width: 100%;
  height: 25%;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_middle input {
  width: 100%;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_middle {
  width: 100%;
  height: 50%;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_middle textarea {
  width: 100%;
  max-height: 130px;
  background-color: rgba(56, 56, 56, 0.5);
  border-style: none;
  outline: none;
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 0.7);
  padding: 3px 0 3px 5px;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_middle textarea:focus {
  border-color: rgba(255, 255, 255, 0.3);
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_bottom {
  display: flex;
  justify-content: center;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_bottom .form-container_bottom_left {
  width: 50%;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_bottom .form-container_bottom_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form input[type=submit] {
  width: auto;
  padding: 10px 20px;
  margin: 10px 0 15px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table th, table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}
table th {
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  .reservations-container .section-container-reservations {
    padding-bottom: 150px;
    margin-bottom: 150px;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner {
    width: 80%;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_top {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_top h6 {
    font-size: 13.5px;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_top .section-container_inner_top_main p {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .reservations-container .section-container-reservations .section-container-reservations_inner {
    background-color: transparent;
    width: 100%;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container-reservations-banner {
    width: 100%;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container-reservations-banner .bannera {
    display: none;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container-reservations-banner .bannerb {
    display: flex;
    width: 100%;
    height: auto;
    opacity: 0.8;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner {
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.7);
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.795);
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top {
    display: flex;
    height: 25%;
    align-items: center;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top .form-container_top_left {
    width: 50%;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top .form-container_top_left input {
    width: 90%;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top .form-container_top_right {
    width: 50%;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top .form-container_top_right input {
    width: 100%;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top .form-container_top_right select {
    width: 100%;
    height: 50%;
    border-style: none;
    padding: 5px;
    background-color: rgba(56, 56, 56, 0.5);
    color: rgba(255, 255, 255, 0.7);
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_top .form-container_top_right select option {
    width: 50%;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_middle {
    width: 100%;
    height: 25%;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_middle input {
    width: 100%;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_middle {
    width: 100%;
    height: 50%;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_middle textarea {
    width: 100%;
    max-height: 130px;
    background-color: rgba(56, 56, 56, 0.5);
    border-style: none;
    outline: none;
    border: 1px solid transparent;
    color: rgba(255, 255, 255, 0.7);
    padding: 3px 0 3px 5px;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_middle textarea:focus {
    border-color: rgba(255, 255, 255, 0.3);
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_bottom {
    display: flex;
    justify-content: center;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_bottom .form-container_bottom_left {
    width: 50%;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form .form-container_bottom .form-container_bottom_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .reservations-container .section-container-reservations .section-container-reservations_inner .section-container_inner .section-container_inner_bottom form input[type=submit] {
    width: auto;
    padding: 10px 20px;
    margin: 10px 0 15px 0;
  }
}

/*# sourceMappingURL=reservation_list.css.map */
