footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  .footer-container-l {
    display: flex;
    width: 50%;
    align-items: center;
    .footer-container-l_left {
      display: flex;
      flex-direction: column;
      height: 95%;
      width: 20%;
      margin: 0 0 0 20px;
      p {
        font-size: 0.8rem;
        color: white;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: underline;
        margin: 0 0 5px 0;
        user-select: none;
      }
      ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: fit-content;
        li {
          display: flex;
          a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
            font-size: 0.8rem;
            line-height: normal;
          }
          a:hover {
            color: white;
          }
          p {
            text-decoration: none;
            padding: 0 2px 0 2px;
          }
        }
      }
    }
    .footer-container-l_right {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0;
      .footer-container-l_right_title {
        font-size: 0.8rem;
        color: white;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: underline;
        margin: 0 0 5px 0;
        user-select: none;
      }
      p {
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
      }
    }
  }
  .footer-container-r {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
    p {
      color: rgba(255, 255, 255, 0.7);
      margin: 0 5px 5px 0;
      font-size: 0.7rem;
      user-select: none;
    }
  }
}
