header {
  display: flex;
  width: 100%;
  padding: 5px 10px 0 10px;
  height: 50px;
  justify-content: center;
  .navigator-container {
    position: fixed;
    display: flex;
    width: fit-content;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 10px 15px 5px 15px;
    margin: -10px 0 0 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      li {
        text-decoration: none;
        list-style: none;
        padding: 0 5px 0 5px;
        a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.5);
        }
        a:hover {
          color: rgba(255, 255, 255, 0.8);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  .others-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .others-container-left {
      display: flex;
      width: 70%;
      .language-container_text {
        display: flex;
        align-items: center;
        width: auto;
        height: fit-content;
        margin-right: 10px;
        span {
          color: rgba(255, 255, 255, 0.5);
        }
      }
      .language-container_image {
        width: 25px;
        height: fit-content;
        img {
          width: 25px;
          height: auto;
        }
      }
    }
    .others-container-right {
      display: flex;
      width: 30%;
      height: auto;
      justify-content: space-between;
      .socials-container {
        display: flex;
        .fa-xl {
          line-height: 1;
          padding: 0 5px 0 5px;
          color: rgba(0, 0, 0, 0.5);
        }
      }
      .logReg-container {
        display: flex;
        p {
          color: rgba(0, 0, 0, 0.5);
          padding: 0 5px 0 5px;
        }
        a {
          cursor: pointer;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
