header {
  display: flex;
  width: 100%;
  padding: 5px 10px 0 10px;
  height: 50px;
  justify-content: center;
  .navigator-container {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    position: fixed;
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    padding: 15px 25px 10px 25px;
    margin: -10px 0 0 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      li {
        text-decoration: none;
        list-style: none;
        padding: 0 5px 0 5px;
        color: rgba(255, 255, 255, 0.7);
        user-select: none;
        position: relative;
        transition: all ease-in-out 0.3s;
        a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.7);
          transition: all ease-in-out 0.2s;
        }
        a:hover {
          color: rgba(255, 255, 255, 1);
          font-weight: 400;
        }
      }
      li:hover {
        transform: translateY(-2px);
      }
    }
  }
  .others-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .others-container-left {
      display: flex;
      width: 70%;
      font-family: "Montserrat", sans-serif;
      .language-container_text {
        display: flex;
        align-items: center;
        width: auto;
        height: fit-content;
        margin-right: 10px;
        user-select: none;
        span {
          color: rgba(255, 255, 255, 0.5);
        }
      }
      .language-container_image {
        width: 25px;
        height: fit-content;
        img {
          width: 25px;
          height: auto;
        }
      }
    }
    .others-container-right {
      display: flex;
      width: 30%;
      height: auto;
      justify-content: space-between;
      .logReg-container {
        display: flex;
        align-items: center;
        height: fit-content;
        font-family: "Montserrat", sans-serif;
        .logReg-container_login {
          font-size: 0.9rem;
          color: rgba(255, 255, 255, 0.6);
          cursor: pointer;
          text-decoration: none;
          line-height: normal;
          transition: all ease-in-out 0.4s;
          padding: 0 5px 0 0;
        }
        .logReg-container_login:hover {
          color: white;
        }
        .logReg-container_register {
          font-size: 0.95rem;
          color: rgba(255, 255, 255, 0.8);
          cursor: pointer;
          text-decoration: none;
          line-height: normal;
          transition: all ease-in-out 0.4s;
          border-bottom-style: none;
          border-bottom-width: 0;
          border-bottom-color: transparent;
        }
        .logReg-container_register:hover {
          color: white;
          border-bottom-style: solid;
          border-bottom-width: 1px;
          border-bottom-color: white;
        }
      }
    }
  }
}
