.section-container-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 700px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0) 100%
  );
  .section-container-left {
    display: flex;
    width: 630px;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .section-container-middle {
    display: flex;
    flex-direction: column;
    width: 660px;
    height: 700px;
    align-items: center;
    margin-top: 150px;
    .section-container-middle_logo {
      width: auto;
      height: 400px;
      opacity: 0.9 !important;
    }
    .section-container-middle_bottom {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      .section-container-middle_text {
        filter: drop-shadow(2px 2px 1px #161616);
        width: 408px;
        height: auto;
      }
    }
  }
  .section-container-right {
    display: flex;
    flex-direction: column;
    width: 630px;
    height: 80%;
    justify-content: end;
    align-items: end;
    overflow: hidden;

    //premios indiv//
    .section-container-right_up {
      display: flex;
      height: 80px;
      width: 80%;
      align-items: center;
      padding: 5px 0 5px 15px;
      background-color: rgba(0, 0, 0, 0.582);
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      img {
        width: auto;
        height: 100%;
        opacity: 0.7;
        -webkit-filter: drop-shadow(2px 2px 2px #222);
        filter: drop-shadow(2px 2px 2px #161616);
      }
    }
    .section-container-right_mid {
      display: flex;
      height: 80px;
      width: 90%;
      align-items: center;
      margin-top: 70px;
      padding: 5px 0 5px 15px;
      background-color: rgba(0, 0, 0, 0.486);
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      img {
        width: auto;
        height: 100%;
        opacity: 0.6;
        -webkit-filter: drop-shadow(2px 2px 2px #222);
        filter: drop-shadow(2px 2px 2px #161616);
      }
    }
    .section-container-right_bottom {
      display: flex;
      height: 80px;
      width: 100%;
      align-items: center;
      margin-top: 70px;
      padding: 5px 0 5px 15px;
      background-color: rgba(0, 0, 0, 0.397);
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      img {
        width: auto;
        height: 100%;
        opacity: 0.6;
        filter: drop-shadow(2px 2px 2px #161616);
      }
    }
  }
}
.section-container-right_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-size: 1.3rem;
  height: fit-content;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  font-size: 1.1rem;
  user-select: none;
  .awards-year {
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.747);
    user-select: none;
    line-height: normal;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(2px 2px 2px #161616);
    font-size: 1.6rem;
  }
}

//responsive at max 1280px//
@media screen and (max-width: 1280px) {
  .section-container-index {
    flex-direction: column;
    height: fit-content;
    margin-bottom: 200px;
    .section-container-left {
      display: none;
    }
    .section-container-middle {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      align-items: center;
      margin-top: 20px;
      .section-container-middle_logo {
        width: 30%;
        height: auto;
      }
      .section-container-middle_bottom {
        width: 400px;
      }
    }
    .section-container-right {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      .section-container-right_up {
        height: 80px;
        width: fit-content;
        align-items: center;
        margin: 10px 10px 0 10px;
        padding: 10px 20px 10px 20px;
        border-radius: 50px;
      }
      .section-container-right_mid {
        height: 80px;
        width: fit-content;
        align-items: center;
        margin: 10px 10px 0 10px;
        padding: 10px 20px 10px 20px;
        border-radius: 50px;
      }
      .section-container-right_bottom {
        height: 80px;
        width: fit-content;
        align-items: center;
        margin: 10px 10px 0 10px;
        padding: 10px 20px 10px 20px;
        border-radius: 50px;
      }
    }
  }
}

//responsive at max 768px//
@media screen and (max-width: 768px) {
  .section-container-index {
    margin-bottom: 400px;
    .section-container-middle {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      align-items: center;
      margin-top: 20px;
      .section-container-middle_logo {
        width: 200px;
        height: auto;
      }
      .section-container-middle_bottom {
        width: 400px;
        .section-container-middle_text {
          width: 100%;
        }
      }
    }
  }
}

//responsive at max 480px//
@media screen and (max-width: 480px) {
  .section-container-index {
    .section-container-middle {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      align-items: center;
      margin-top: 20px;
      .section-container-middle_logo {
        width: 150px;
        height: auto;
      }
      .section-container-middle_bottom {
        width: 90%;
        .section-container-middle_text {
          width: 100%;
        }
      }
    }
    .section-container-right {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      .section-container-right_up {
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        justify-content: center;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        img {
          width: 50px;
          height: auto;
        }
        .section-container-right_text {
          margin: 5px 0 0 0;
          align-items: center;
          .awards-year {
            font-size: 0.8rem;
          }
        }
      }
      .section-container-right_mid {
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        justify-content: center;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        img {
          width: 50px;
          height: auto;
        }
        .section-container-right_text {
          margin: 5px 0 0 0;
          align-items: center;
          .awards-year {
            font-size: 0.8rem;
          }
        }
      }
      .section-container-right_bottom {
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        justify-content: center;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        img {
          width: 50px;
          height: auto;
        }
        .section-container-right_text {
          margin: 5px 0 0 0;
          align-items: center;
          .awards-year {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
