<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--hojas de estilo css-->
    <link rel="stylesheet" href="../css/style.css" />
    <!--scripts-->
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/main.js"></script>
    <script
      src="https://kit.fontawesome.com/82e0355a8f.js"
      crossorigin="anonymous"
    ></script>
    <!-- fonts-->
    <title>Menu</title>
  </head>
  <body>
    <div class="general-container">
      <header>
        <nav class="navigator-container">
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="about_us.html">Nosotros</a></li>
            <li><a href="reservations.html">Reservas</a></li>
          </ul>
        </nav>
        <div class="others-container">
          <div class="others-container-left">
            <div class="language-container_text">
              <span>Idioma /</span>
            </div>
            <div class="language-container_image">
              <img src="../static/img/spaflag.svg" alt="language-flag" />
            </div>
          </div>
          <div class="others-container-right">
            <div class="socials-container">
              <button class="socials-container-button">
                <a href="http://www.facebook.com" target="_blank"
                  ><i class="fa-brands fa-square-facebook fa-xl"></i
                ></a>
                <div class="text">Facebook</div>
              </button>
              <button class="socials-container-button">
                <a href="http://www.instagram.com" target="_blank"
                  ><i class="fa-brands fa-instagram fa-xl"></i
                ></a>
                <div class="text">Instagram</div>
              </button>
            </div>
            <div class="logReg-container">
              <a href="login.html">Login</a>
              <p>/</p>
              <a href="register.html">Registrarse</a>
            </div>
          </div>
        </div>
      </header>
      <section>
        <div class="section-container-gallery">
          <div class="section-container-gallery_inner">
            <div class="galeria-item">
              <img src="../static/img/1.Aijaco.jpeg" alt="Aijaco" />
              <p>
                AIJACO <br />El ajiaco es una especie de sopa cremosa hecha a
                base de pollo, maíz, aguacate, papas, guascas, cilantro,
                perejil, ají, ajo y cebollas. Se hace con tres tipos de papas
                típicas de los Andes: las papas sabaneras, las pasturas y las
                criollas.
              </p>
            </div>
            <div class="galeria-item">
              <img
                src="../static/img/2.Bandeja Paisa.jpeg"
                alt="Bandeja Paisa"
              />
              <p>
                BANDEJA PAISA <br />La bandeja paisa se caracteriza por la
                abundancia de los alimentos que lo componen. Los ingredientes de
                la bandeja paisa Frijoles rojo, cerdo, arroz blanco, chicharrón
                , carne vacuna, hubo frito, salchicha, aguacate, plátano frito
                arepas
              </p>
            </div>
            <div class="galeria-item">
              <img src="../static/img/3.Changua.jpeg" alt="Changua" />
              <p>
                CHANGUA <br />Esta sopa tiene partes iguales de agua y leche con
                una pizca de sal. Esta mezcla se hierve y cuando ya está
                burbujeando, se agrega un huevo sin cáscara, teniendo cuidado de
                que no se rompa la yema junto con cebollin y cilantro Esta sopa
                se sirve con un trozo de pan duro, que se remoja en el caldo de
                leche para suavizarlo. Se suele comer en el desayuno.
              </p>
            </div>
            <div class="galeria-item">
              <img src="../static/img/4.Chicha.jpeg" alt="Chicha" />
              <p>
                CHICHA <br />La chicha es un postre típico de los Andes, no solo
                de Colombia. Se trata de una bebida a base de cereales,
                principalmente avena, trigo y maíz. Tiene contenido alcohólico
              </p>
            </div>
            <div class="galeria-item">
              <img
                src="../static/img/5.Cocido Andino.jpeg"
                alt="Cocido Andino"
              />
              <p>
                COCIDO ANDINO <br />Tiene su origen en la olla podrida española.
                Se trata de un guiso que integra mazorca de maíz, carne de
                cerdo, chorizo o pollo, cubios, frijoles, chuguas, habas y
                frijoles.
              </p>
            </div>
            <div class="galeria-item">
              <img src="../static/img/6.Lechon.jpeg" alt="Lechon" />
              <p>
                LECHON <br />El lechón es un plato que se hace con un cerdo
                joven, de no más de tres meses, cocinado al horno.
              </p>
            </div>
            <div class="galeria-item">
              <img src="../static/img/7.Mute.jpeg" alt="Mute" />
              <p>
                MUTE <br />Sopa que se prepara para épocas de frio y lluvia por
                la variedad de sus ingredientes. La receta tradicional se
                compone de maíz, costilla de res, cerdo, papa criolla, frijoles
                y bastantes verduras especiadas.
              </p>
            </div>
            <div class="galeria-item">
              <img
                src="../static/img/8.Sopa Levanta Muertos.jpeg"
                alt="Sopa Levanta Muertos"
              />
              <p>
                SOPA LEVANTA MUERTOS <br />El caldo de costilla, Levanta
                muertos, es uno de los platos más comunes de la cocina andina.
                Se trata de una sopa de costillas de ganado, generalmente de
                vaca y caldo de ajo, cilantro, perejil, cebollas y ají, papa,
                ocumo, yuca y ñame.
              </p>
            </div>
            <div class="galeria-item">
              <img src="../static/img/9.Tamales.jpeg" alt="Tamales" />
              <p>
                TAMALES <br />Los tamales de la región Andina emplean una masa a
                basa de maíz que se ha pasado de cocción. Esta mezcla se amasa
                en bolitas y se extiende en hojas de plátano. Posteriormente, se
                rellena con guiso de carne de pollo, de carne de vaca o de carne
                de cerdo; también se pueden hacer con granos (arvejas, frijoles,
                lentejas, entre otros).
              </p>
            </div>
          </div>
        </div>
      </section>

      <footer>
        <div class="footer-container-l">
          <aside class="footer-container-l_left">
            <p>Mapa del Sitio</p>
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="menu.html">Menu</a></li>
              <li><a href="../templates/about_us.html">Nosotros</a></li>
              <li><a href="../templates/reservations.html">Reservas</a></li>
              <li><a href="../templates/register.html">Registro</a></li>
              <li><a href="../templates/login.html">Login</a></li>
            </ul>
          </aside>
          <aside class="footer-container-l_right">
            <p class="footer-container-l_right_title">Datos de relevancia:</p>
            <p>Domicilio: Av. del Libertador 4450</p>
            <p>Horario: Lun. a Dom. 12:00 a 00:00hs</p>
            <p>Telefono (wpp): (011)5442-1223</p>
            <p>Email: andesresto@gmail.com</p>
          </aside>
        </div>
        <div class="footer-container-r">
          <p>Codo a Codo, 2024, todos los derechos reservados</p>
        </div>
      </footer>
    </div>
  </body>
</html>
