<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--hojas de estilo css-->
    <link rel="stylesheet" href="../css/style.css" />
    <!--scripts-->
    <script src="../js/bootstrap.bundle.min.js"></script>
    <!-- fonts-->
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav class="navigator-container">
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="menu.html">Menu</a></li>
          <li><a href="about_us.html">Nosotros</a></li>
          <li><a href="reservations.html">Reservas</a></li>
        </ul>
      </nav>
      <div class="others-container">
        <div class="others-container-left">
          <div class="language-container">
            <div class="language-container_text">
              <p>Idioma /</p>
            </div>
            <div class="language-container_image">
              <img src="" alt="language-flag" />
            </div>
          </div>
        </div>

        <div class="others-container-right">
          <div class="socials-container">
            <img src="" alt="facebook-logo" />
            <img src="" alt="instagram-logo" />
          </div>
          <div class="logReg-container">
            <a href="/templates/login.html">Login</a>
            <p>/</p>
            <a href="/templates/register.html">Registrarse</a>
          </div>
        </div>
      </div>
    </header>
    <section>
      <h1>SOBRE NOSOTROS</h1>
    </section>
    <footer>
      <p>otra informacion</p>
    </footer>
  </body>
</html>
</html>
