<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--hojas de estilo css-->
    <link rel="stylesheet" href="../css/style.css" />
    <!--scripts-->
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/main.js"></script>
    <script
      src="https://kit.fontawesome.com/82e0355a8f.js"
      crossorigin="anonymous"
    ></script>
    <!-- fonts-->
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav class="navigator-container">
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="menu.html">Menu</a></li>
          <li><a href="about_us.html">Nosotros</a></li>
          <li><a href="reservations.html">Reservas</a></li>
        </ul>
      </nav>
      <div class="others-container">
        <div class="others-container-left">
          <div class="language-container_text">
            <span>Idioma /</span>
          </div>
          <div class="language-container_image">
            <img src="../static/img/spaflag.svg" alt="language-flag" />
          </div>
        </div>

        <div class="others-container-right">
          <div class="socials-container">
            <a href="#"><i class="fa-brands fa-facebook fa-xl"></i></a>
            <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
          </div>
          <div class="logReg-container">
            <a href="../templates/login.html">Login</a>
            <p>/</p>
            <a href="../templates/register.html">Registrarse</a>
          </div>
        </div>
      </div>
    </header>
    <section>
      <h1>SOBRE NOSOTROS</h1>
    </section>
    <footer>
      <p>otra informacion</p>
    </footer>
  </body>
</html>
</html>
